.modal-dialog {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .modal-content {
    max-height: 80vh; /* Set your desired maximum height */
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }