<div class="modal-dialog" role="document">
  <div class="modal-content border-0">
    <div class="modal-header">
      <h5 class="modal-title">Fees Details</h5>
      <!-- <button mat-mini-fab class="icon-color" class="close" (click)="activeModal.close()" aria-label="Close">
        <i class="material-icons dispaly-5">cancel</i>
      </button> -->
      <button mat-mini-fab class="icon-color" (click)="activeModal.close()" aria-label="Close">
        <i class="material-icons dispaly-5">close</i>
    </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="row row-cols-2 ">
          <mat-form-field appearance="outline">
            <mat-label>Fees Type</mat-label>
            <mat-select>
              <mat-option value="admission">Admission</mat-option>
              <mat-option value="membership">Membership</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Payable</mat-label>
            <input matInput placeholder="" appNumericOnly type="number" disabled>
            <span matSuffix class="p-2">₹ </span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput placeholder="" appNumericOnly type="number">
            <span matSuffix class="p-2">₹ </span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Payment Type</mat-label>
            <mat-select>
              <mat-option value="transaction">Transaction</mat-option>
              <mat-option value="cash">Cash</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Paid</mat-label>
            <input matInput placeholder="" appNumericOnly type="number">
            <span matSuffix class="p-2">₹ </span>
          </mat-form-field>
        </div>
      </form>
      <button mat-raised-button (click)="saveFee()" class="float-end btn">Save</button>
    </div>
  </div>
</div>