.tob-bar {
    height: 79px;
    position: fixed;
    top: 0;
    width: 100%;
    color: #dce4ef;
    /* Adjust the text color as needed */
    z-index: 1000;
    background-color: #1a417c;
    border-bottom: 2px solid white;
}

