
<div>
    <mat-card class="mb-2">
        <mat-card-header>
          <mat-card-title>Monthly</mat-card-title>
          <mat-card-subtitle>1500</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>Edit</button>
          <button mat-button>Delete</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mb-2">
        <mat-card-header>
          <mat-card-title>3 Month</mat-card-title>
          <mat-card-subtitle>3000</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>Edit</button>
          <button mat-button>Delet</button>
        </mat-card-actions>
    </mat-card> 
</div>

