<div >
    <app-topbar></app-topbar>
</div>

<div class="row body-content" *ngIf="ismobileView" style="--bs-gutter-x: 0rem;" >
    <div class=" col-md-3 col-lg-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-md-9 col-lg-10 container p-4">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!ismobileView" class="container ">
    <div class="body-content">
        <router-outlet></router-outlet>
    </div>
    <app-mobile-navbar *ngIf="!ismobileView"></app-mobile-navbar>
</div>