<div class="fixed-bottom shadow pt-2 border side-bar">
    <div class="d-flex justify-content-evenly pb-0">
        <!-- <span class="col">
            <i class="fa fa-user-group fa-lg ms-2"></i>
        </span> -->
        <span class="">
            <i class="material-icons display-5 ms-2" routerLink="/dashboard">home</i>
            <p>home</p>
        </span>
        <span class=" text-center">
            <i class="material-icons display-5 ms-2" routerLink="/member/memberList">group</i>
            <p>Member</p>
        </span>
        <span class="  text-center">
            <i class="material-icons display-5 ms-2">fact_check</i>
            <p>Attendance</p>
        </span>
        <span class=" text-center">
            <i class="material-icons display-5 ms-2">query_stats</i>
            <p>Report</p>
        </span>
    </div>
</div>